{% extends 'base.html.twig' %}

{% block title 'Liste' %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des musées</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class= "table table-striped">
            <thead>
                <tr>
                <th>Numéro Musée</th>
                <th>Nom Musée</th>
                <th>Nombres de livres</th>
                <th>Code du Pays</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for musee in musee %}
                <tr>
                    <td>{{ musee.numMus }}</td>
                    <td>{{ musee.nomMus }}</td>
                    <td>{{ musee.nblivres }}</td>
                    <td>{{ musee.codePays }}</td>
                    <td>
                        <a href="{{ path('musee_show', {id: musee.id}) }}" class="btn btn-secondary">Voir</a>
                        <a href="{{ path('admin.musee.edit', {id: musee.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.musee.delete', {id: musee.id}) }}" style="display: inline-block" onsubmit="return confirm('Voulez vous vraiment supprimer ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musee.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.musee.ajout') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
{% endblock %}